# Windows #
Thumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# MacOS #
.DS_Store

# Java #
*.class
*.jar
*.war
*.ear

# Maven #
target/

# NetBeans #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Eclispe #
.settings/
.classpath
.project

# IntelliJ #
*.iml
*.iws
*.ipr
.idea/

# Test logs #
logs/
