# /usr/lib/systemd/system/rade.service

[Unit]
Description=Rade
Requires=network.target
After=syslog.target network.target

[Service]
WorkingDirectory=/etc/rade
Environment=BINARY="/usr/lib/rade/rade-webapp.war"
Environment=JAVA_EXEC="/usr/bin/java"
Environment=JAVA_OPTS="-Xmx256m"
Environment=RADE_OPTS=""
Environment=LOGGING="-Dlogging.config=/etc/rade/logback.xml"
User=rade
Group=rade
ExecStart=/usr/bin/env $JAVA_EXEC $JAVA_OPTS $RADE_OPTS $LOGGING -jar $BINAR
StandardOutput=journal
StandardError=journal
SyslogIdentifier=rade
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
